<h3><a class="reloadLink" (click)="reload()">{{title}}</a></h3>

<div *ngIf="!githubDataLoaded">
    <img src="assets/loading.gif" alt="Loading..." height="200" width="200">
</div>

<div *ngIf="githubDataLoaded">



    Page number <b>{{pageNumber+1}}</b> |

    <button type="button" class="btn btn-primary" (click)="prevPage()" [disabled]="!isPrevPage()">Prev</button> |
    <button type="button" class="btn btn-primary" (click)="nextPage()" [disabled]="!isNextPage()">Next</button> |
    Filter by name:
    <input type="text" [ngModel]="inputFilterValue" (ngModelChange)="newFilterValue($event)" />

    <br />

	<div class="table-responsive">
	    <table class="table table-striped" *ngIf="!subElementIsSelected">
	        <thead>
	            <tr class="tableOverviewColumn" >
	                <th
	                    *ngFor="let current of tableColums; let i=index"
	                    [ngClass]="{sortColumnAsc: isSortingByAsc(current.name), sortColumnDesc: isSortingByDesc(current.name)}"
	                    (click)="setSortByColumn(current.name, current.isString)">
	                        {{current.name}}
	                </th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr *ngFor="let current of getTableData(); let idx=index" class="tableRowSelect">
	                <td *ngFor="let currentColum of tableColums; let i=index" (click)="selectedTableRow(current.id)">{{current[currentColum.name]}}</td>
	            </tr>
	        </tbody>
	    </table>
	</div>

    <div *ngIf="subElementIsSelected" >
        <app-github-object-detail
            [selectedObject]="selectedSubElement"
            (exitDetailComponentEE)="selectedSubElementCompleteEvent($event)"
        ></app-github-object-detail>
    </div>


</div>
